.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 4rem 0 2rem 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: bold;
}

.title,
.desc {
  text-align: center;
}

.desc {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
}

.addTodo {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.input {
  padding: 1rem;
  border: solid 2px;
  border-color: #cccccc;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 0.5rem;
  font-size: 1em;
}

.addButton {
  width: 80px;
  color: white;
  background-color: #0070f3;
  border-color: #0070f3;
  font-size: 1em;
  border: solid 2px;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover {
  color: #0070f3;
  background-color: white;
  border-color: #0070f3;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.todoList {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  flex-grow: 1;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

.checkbox {
  margin-right: 1rem;
}

.checked {
  text-decoration: line-through;
}

.deleteButton {
  font-size: 1rem;
  border: none;
  background: none;
  color: darkgrey;
  cursor: pointer;
}

.deleteButton:hover {
  color: var(--primary);
}

.emptyState {
}

@media (max-width: 600px) {
  .main {
    min-width: auto;
    width: 100%;
  }
}
