html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  max-width: 800px;
  padding: 2rem 1rem;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
}

.blog {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
}

article {
  margin-bottom: 4rem;
}

article .posted-date {
  color: gray;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

p {
  line-height: 1.6;
}
